:root {
  --primary: #2a2a2a;
  --primary-transparent-50: #2a2a2a82;
  --primary-variant: #141414;
  --secondary: #f9f9f9;
  --secondary-variant: #eaeaea;
  --background: #fda174;
  --background-variant: #dd906989;
  --surface: #40419f;
  --error: #cb1616;
}
