@import "./fonts.scss";
@import "./reset.scss";

body {
  font-family: "Lora", serif !important;
  min-height: 100vh;
  line-height: 180% !important;
  background-color: #fda174 !important;
  color: #100603 !important;
}

.link {
  width: max-content;
  cursor: pointer;
}

.link:hover {
  color: #7d5039 !important;
}

.icon {
  font-size: 18px;
  background: transparent;
  padding: 6px;
  border-radius: 50%;
  transition: all 0.15s ease;
}

.icon:hover {
  background: rgb(16, 6, 3, 0.2);
}

.pointer {
  cursor: pointer;
}

.input {
  padding: 4px 12px;
  background: #ea8d5e;
  transition: all 0.1s ease-in-out;
  font-size: 16px;
}

.input:focus {
  background: #f59667;
}

// Quill editor styles
.editor {
  border: 2px solid #2a2a2a !important;
  color: #2a2a2a;
}
.ql-container.ql-snow {
  border: 0;
  min-height: 100px;
}
.ql-toolbar.ql-snow {
  border: none;
  border-bottom: 2px solid #2a2a2a;
}

.error {
  color: rgb(203, 22, 22);
  font-weight: 500;
  font-size: 14px;
}
