@import "./fonts.scss";
@import "./reset.scss";
@import "./colors.scss";

body {
  font-family: "Lora", serif !important;
  min-height: 100vh;
  line-height: 180% !important;
  background-color: var(--background) !important;
  color: var(--primary) !important;
}

.link {
  width: max-content;
  cursor: pointer;
}

.icon {
  font-size: 18px;
  background: transparent;
  padding: 6px;
  border-radius: 50%;
  transition: all 0.15s ease;
}

.icon:hover {
  background: var(--primary-transparent-50);
}

.pointer {
  cursor: pointer;
}

.input {
  font-family: inherit;
  padding: 4px 12px;
  background: #ea8d5e;
  transition: all 0.1s ease-in-out;
  font-size: 16px;
}

.input:focus {
  background: #f59667;
}

// Quill editor styles
.editor {
  border: 2px solid var(--primary) !important;
  color: var(--primary);
}
.ql-container.ql-snow {
  border: 0;
  min-height: 100px;
}
.ql-toolbar.ql-snow {
  border: none;
  border-bottom: 2px solid var(--primary);
}

.error {
  color: var(--error);
  font-weight: 500;
  font-size: 14px;
}

.button {
  padding: 8px 16px;
  font-size: 16px;
  background: var(--primary);
  color: var(--secondary-variant);
  transition: all 0.05s ease-in-out;

  &:hover {
    color: var(--secondary);
  }
}

.ant-dropdown-menu {
  background: var(--background);
  border: 2px solid var(--primary);
  padding: 0;
}

.ant-dropdown-menu-item {
  font-size: 16px;
  color: var(--primary);
  font-weight: 500;
}

.ant-dropdown-menu-item-active:hover {
  background: var(--background-variant);
}
